* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(90deg, #f598a8, #f6edb2);
}

.wrapper {
    width: 500px;
    margin: 50px auto;
}

.block {
    margin-top: 20px;
    position: relative;
    width: 500px;
    height: 500px;
    border: 2px solid;
    overflow: hidden;
    background: none;
}

.box {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #00fff7;
}

.inn_input {
    border-radius: 5px;
    padding: 5px;
    background: none;
    outline: none;
    border: 2px solid black;
    font-weight: bolder;
    transition: 200ms;
}

.inn_btn {
    border-radius: 5px;
    padding: 5px;
    background: none;
    outline: none;
    border: 2px solid black;
    font-weight: bolder;
    cursor: pointer;
}

.inn_btn:hover {
    background: white;
    transition: 200ms;
}

.inn_btn:active {
    transform: translateY(3px);
    transition: 200ms;
}